@import "../../index.css";


.container {
   display: grid;
   grid-template-areas: 
      "generalInfo generalInfo todayForecast todayForecast todayForecast todayForecast"
      "generalInfo generalInfo weaklyForecast weaklyForecast weaklyForecast weaklyForecast"
      "UIIndex pressure humidity map map map"
      "windDirection airPollution populationSunset map map map"      
   ;
   grid-template-rows: repeat(4 , 1fr);
   grid-template-columns: repeat(6, 1fr);
   gap: 1rem;
   padding-inline: 2rem;
   padding-bottom: 2rem;
}

.generalInfo ,.weaklyForecast ,.UIIndex , .todayForecast ,.map ,.pressure , .humidity ,.windDirection ,.airPollution , .populationSunset {
   overflow: hidden;
   background-color: #00000033;
   backdrop-filter: blur(15px);
   border: 1px solid white;
   border-radius: 15px;
   padding: .5rem;
}

.generalInfo{
   grid-area:generalInfo ;
}

.weaklyForecast{
   grid-area: weaklyForecast;
}
.todayForecast{
   grid-area: todayForecast;
}

.UIIndex{
   grid-area: UIIndex ;
}

.pressure{
   grid-area: pressure;
}

.humidity{
   grid-area: humidity;
}
.windDirection{
   grid-area: windDirection ;
}

.airPollution{
   grid-area: airPollution ;
}

.populationSunset{
   grid-area: populationSunset;
}

.map{
  grid-area: map ; 
}