@import "../../index.css";


.container {
   display: grid;
   grid-template-areas: 
      "generalInfo generalInfo todayForecast todayForecast todayForecast todayForecast"
      "generalInfo generalInfo weaklyForecast weaklyForecast weaklyForecast weaklyForecast"
      "humidity pressure UVIndex map map map"
      "windDirection  sunset airPollutionPopulation map map map"      
   ;
   grid-template-rows: repeat(4 , 1fr);
   grid-template-columns: repeat(6, 1fr);
   gap: 1rem;
   padding: 0 7rem 3rem 7rem;
}
.generalInfo ,.weaklyForecast ,.UVIndex , .todayForecast ,.map ,.pressure , .humidity ,.windDirection ,.airPollutionPopulation , .sunset {
   overflow: hidden;
   background-color: #00000033;
   backdrop-filter: blur(15px);
   border: 1px solid white;
   border-radius: 15px;
   padding: .5rem;
}

.generalInfo{
   grid-area:generalInfo ;
}

.weaklyForecast{
   grid-area: weaklyForecast;
}
.todayForecast{
   grid-area: todayForecast;
}

.UVIndex{
   grid-area: UVIndex ;
}

.pressure{
   grid-area: pressure;
}

.humidity{
   grid-area: humidity;
}
.windDirection{
   grid-area: windDirection ;
}

.airPollutionPopulation{
   grid-area: airPollutionPopulation ;
}

.sunset{
   grid-area: sunset;
}

.map{
  grid-area: map ; 
}