@import "../../index.css";


.container {
   display: grid;
   grid-template-areas: 
      "generalInfo generalInfo fiveDayFactors fiveDayFactors fiveDayFactors fiveDayFactors"
      "generalInfo generalInfo wdf wdf wdf wdf"
      "mo mo mo map map map"
      "mo mo mo map map map"      
   ;
   grid-template-rows: repeat(4 , 1fr);
   grid-template-columns: repeat(6, 1fr);
   gap: 1rem;
   padding-inline: 2rem;
   padding-bottom: 2rem;
}

.generalInfo ,.wdf ,.mo, .fiveDayFactors ,.map {
   overflow: hidden;
   background-color: #00000033;
   backdrop-filter: blur(15px);
   border: 1px solid white;
   border-radius: 15px;
   padding: .5rem;
}

.generalInfo{
   grid-area:generalInfo ;
}

.wdf{
   grid-area: wdf;
}
.fiveDayFactors{
   grid-area: fiveDayFactors;
}

.mo{
   grid-area: mo ;
}

.map{
  grid-area: map ; 
}